<DOCTYPE html>
  <html>

  <head>
      {% load static %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" /> -->
      <link rel="stylesheet" href="{% static 'css/pracadd.css' %}" />
      
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous" />   
                
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
      <title>Document</title>
  </head>

  <body>
    {% if messages %}
    <div class="row" style="justify-content: center;">
      <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div style="margin:15px 0px" class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p style="margin:15px 0px" class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
<!--        
      <section class="container my-5 mainsection">
          <div class="row pt-4 mt-lg-3 pb-5 mb-lg-4 mb-xl-5 formclass" id="form-elements">
              <form method="POST" class="col-xl-7 col-md-8  needs-validation" novalidate="" id="dropdown" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-sm-6 mb-4">
                          <label for="name" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-person-fill me-2"></i>First Name</label>
                          <input type="text" id="Firstnameid" name="Firstname" class="form-control form-control-lg nameValidation" required=""
                              placeholder="First Name" maxlength="60" />
                              <span id="lblErrorname" class="msgerror" style="color: red"></span>
                          <div class="invalid-feedback">Required!</div>
                      </div>

                      <div class="col-sm-6 mb-4">
                          <label for="name" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-person-fill me-2"></i>Last Name</label>
                          <input type="text" id="Lastnameid" name="Lastname" class="form-control form-control-lg nameValidation" required=""
                              placeholder="Last Name" maxlength="60" />
                              <span id="lblError1" class="msgerror" style="color: red"></span>
                              <div class="invalid-feedback">Required!</div>
                      </div>

                      <div class="col-sm-6 mb-4">
                          <label for="email" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-envelope-at-fill me-2"></i>Emaill</label>
                          <input type="email" id="emailvalid" name="email" class="form-control form-control-lg" required=""
                              placeholder="Email Address!"  maxlength="100" />
                              <span id="lblErroremail"  style="color: red"></span>
                          <div class="invalid-feedback">Required / Error Format!</div>
                      </div>

                      <div class="col-sm-6 mb-4">
                          <label for="phone" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-telephone-fill me-2"></i>Phone</label>
                          <input type="tel" id="phoneno" name="mobile_no" class="form-control form-control-lg" required=""
                              data-format="custom" data-delimiter="-" data-blocks="2 3 4" data-numeral="9"
                              placeholder="Phone Number" pattern="[0-9\d\-*+#,;]*" minlength="10"
                              maxlength="10" />
                              <span id="lblErrorno"  style="color: red"></span>
                          <div class="invalid-feedback">Required / Error Format!</div>
                      </div>

                      <div class="col-6 mb-4">
                        <label for="gender" class="form-label fs-base fc-3 fw-bold"><i class="fa-solid bi bi-gender-ambiguous me-2"></i>Gender</label><br>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                          <input type="radio" class="btn-check" name="gender" id="btnradio1" autocomplete="off" value="male" checked="">
                          <label class="btn btn-outline-secondary" for="btnradio1"><i class="fa-solid bi bi-gender-male me-2"></i>Male</label>
                          <input type="radio" class="btn-check" name="gender" id="btnradio3" autocomplete="off" value="female">
                          <label class="btn btn-outline-secondary" for="btnradio3"><i class="fa-solid bi bi-gender-female me-2"></i>Female</label>
                        </div>
                        <div class="invalid-feedback">Required / Error Format!</div>
                      </div>

                      <div class="col-6 mb-4">
                        <label for="Image" class="form-label fs-base fc-3 fw-bold"><i class="fa-solid bi bi-gender-ambiguous me-2"></i>Image</label><br>
                      
                        <input type="file" name="image" class="form-control form-control-lg" required="" accept="image/*" onchange="loadFile(event)">
                        <img id="output" height="80px" width="80px"/>
                        <div class="invalid-feedback">Required / Error Format!</div>
                      </div>

                      <div class="col-6 mb-4">
                        <label for="datepicker" class="form-label fs-base fc-3 fw-bold"><i class="fa-solid bi bi-gender-ambiguous me-2"></i>Date of birth</label><br>
                      <input class=" form-control-lg " type="text" id="datepickerbirth" placeholder="YYYY-MM-DD" name="dateofbirth" required=""/>
                      
                      <span id="lblErrorbirth"  style="color: red"></span>
                      <div class="invalid-feedback">Required / Error Format!</div>
                    </div>

                    <div class="col-6 mb-4">
                      <label for="datepicker" class="form-label fs-base fc-3 fw-bold"><i class="fa-solid bi bi-gender-ambiguous me-2"></i>Date of joining</label><br>
                    <input class="form-control form-control-lg" type="text" id="datepickerjoin" placeholder="YYYY-MM-DD" name="dateofjoining" required=""/>
                
                    <div class="invalid-feedback">Required / Error Format!</div>
                  </div>
        
                      <div class="col-sm-6 mb-4">
                          <label for="subject" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-tags-fill me-2"></i>Country</label>
                          <select  class="form-select form-select-lg" name="countryId" id="country" required="">
                              <option value="">select country</option>
                                    {{country}}
                                    {%for i in countryList%}
                                    <option value="{{i.id}}">{{i.cname}}</option>
                                    {%endfor%}
                          </select>
                          <div class="invalid-feedback">Required!</div>
                      </div>
                      <div class="col-sm-6 mb-4">
                          <label for="subject" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-tags-fill me-2"></i>State</label>
                          <select  class="form-select form-select-lg" name="stateId" id="states" required="">
                              <option value="">select state</option>
                                    {%for j in stateList%}
                                    <option value="{{j.id}}">{{j.sname}}</option>
                                    {%endfor%}
                          </select>
                          <div class="invalid-feedback">Required!</div>
                      </div>

                      <div class="col-12 mb-4">
                          <label for="message" class="form-label fs-base fc-3 fw-bold"><i
                                  class="fa-solid bi bi-pencil-square me-2"></i>Address</label>
                          <textarea id="message" name="address" class="form-control form-control-lg" rows="2"
                              required="" placeholder="Write Address Here..." maxlength="300"></textarea>
                          <div class="invalid-feedback">Required!</div>
                      </div>
                  </div>
                  <br />
                  
                 <button class="submitrequired btn btn-primary done mt-3 margin-left:16rem; " type="submit" id="add-name" onclick="z()" name="submit" >
                    submit
                  </button> 
                  <button id="DOB" onclick="z()">X</button>
            </form>
          </div>
      </section> -->



      <div class="container formmain">
        <div class="title ticlass">Registration</div>
        <form action="#" class="needs-validation" method="post" id="dropdown" enctype="multipart/form-data" onsubmit="z(event)" >
          {% csrf_token %}
          <div class="user__details">
            <div class="input__box">
              <label for="name" class="details">Full Name</label>
              <input type="text" placeholder="E.g: Sushant" id="Firstnameid" name="Firstname" class="nameValidation" value="{{GetData.Firstname}}" maxlength="15" required>
              <span id="lblErrorname" class="msgerror" style="color: red"></span>
            </div>
            <div class="input__box">
              <label for="name" class="details">Last Name</label>
                <input type="text" placeholder="Yadav" id="Lastnameid" name="Lastname" class="nameValidation" value="{{GetData.Lastname}}" required
                maxlength="15" />
                <span id="lblError1" class="msgerror" style="color: red"></span>
            </div>
            <div class="input__box">
              <label for="email" class="details">Emaill</label>
                <input type="email" id="emailvalid" name="email" class=" "   value="{{GetData.email}}"  required
                placeholder="Sushant@gmail.com"  maxlength="20" />
                <span id="lblErroremail"  style="color: red"></span>
              
            </div>
            <div class="input__box">
              
              <label for="phone" class="details">Phone Number</label>
                <input type="tel" id="phoneno" name="mobile_no" class=""  value="{{GetData.mobile_no}}" required
                data-format="custom" data-delimiter="-" data-blocks="2 3 4" data-numeral="9"
                placeholder="1234567899" pattern="[0-9\d\-*+#,;]*" minlength="10"
                maxlength="10" />
              
            </div>
            <div class="gender__details">
           
              <label for="gender__details" class="detailsd">Gender</label><br>
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" value="male" >
                <label class="btn btn-outline-secondary" for="male">Male</label>
                <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" value="female">
                <label class="btn btn-outline-secondary" for="female">Female</label>
              </div>
              <button id="temp" type="button" onclick="logging(`{{ GetData.Gender }}`)"></button>
            </div>
            <div class="input__box">
            
              <label for="Image" class="details">Image</label><br>                        
              <input type="file" name="image" class="" required accept="image/*" onchange="loadFile(event)">
              <img src="{{GetData.image}}"  height="80px" width="80px">
              
            </div>

            <div class="input__box">
              <label for="datepicker" class="details">Date of birth</label><br>
              <input class="" type="text" id="datepickerbirth" placeholder="YYYY-MM-DD" name="dateofbirth" value="{{GetData.dateofbirth}}" required>
              
              <span id="lblErrorbirth"  style="color: red"></span>
            </div>
            <div class="input__box">
              <label for="datepicker" class="details">Date of joining</label><br>
              <input class="" type="text" id="datepickerjoin" placeholder="YYYY-MM-DD" name="dateofjoining" value="{{GetData.dateofjoining}}" required>
              <span id="lblErrorjoin"  style="color: red"></span>
      
            </div>
          


            <div class="input__box">
              <label for="subject" class="details">Country</label>
              <select   class="details" name="countryId" id="country" required>
                  <option value="" class="details">select country</option>
                  {{country}}
                  {%for i in countryList%}
                  {%if GetData.countryId == i.id%}
                  <option value="{{i.id}}" selected>{{i.cname}}</option>
                  {% endif %}
                  <option value="{{i.id}}">{{i.cname}}</option>
                  {%endfor%}
              </select>
              
          </div>
          <div class="input__box">
              <label for="subject" class="details">State</label>
              <select  class="details" name="stateId" id="states" required="">
                  <option value="" class="details">select state</option>
                  {%for j in stateList%}
                  {%if GetData.stateId == j.id%}
                  <option value="{{j.id}}"selected>{{j.sname}}</option>
                  {% endif %}
                  <option value="{{j.id}}">{{j.sname}}</option>
                  {%endfor%}
              </select>
              
          </div>

          <div class="input__box">
            <label for="message" class="details">Address</label>
                <input type="text" id="emailvalid" name="address" class="" rows="3" value="{{GetData.address}}" required
                placeholder="Write Address Here..."  maxlength="30"  />
          
        </div>


          </div>
          <div class="button"  type="submit" id="add-name" onclick="z()" name="submit">
            <input type="submit" value="Update" >
          </div>
        </form>
      </div> 
  </body>
<script>

function z(){
var dob=document.getElementById("datepickerbirth").value;
var doj=document.getElementById("datepickerjoin").value;

ValidateDOB(dob);
ValidateDOJ(doj);
if(dobAccepted && dojAccepted){
    $('#dropdown').submit();
  }
  else{
    e.preventDefault();
  }
}

// function myValidation()
// {
//  if(ValidateDOB ==true &&  ValidateDOJ  ==true)
//  {
//     alert("Oops! Validation failed!");
//     return false;
//  }
//  else{

//  alert("Validations successful!");

//  return true;
// }
// }

// dob doj validation
// var form = document.getElementById("contact");
// form.addEventListener("submit", formValidation);



$("#add-name").on("click", function () {
    var order = {
      // name: $("#Firstname").val(),
      countryId: $("#country").val(),
      stateId: $("#states").val(),
    };

    // alert("successfully submited");
    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/getusermaster",
      data: order,
      success: function (newOrder) {
        console.log("new", newOrder);
      },
    });
  });

$("#country").change(function () {
    var url = $("#dropdown");
    var countryId = $(this).val();

    $.ajax({
      type:"POST",
      url:'http://127.0.0.1:8000/Registaration/getstate',

      data: {

        'countryId': countryId

      },
      success: function (data) {

        let html_data = '<option value=""> select State</option>';
        data.forEach(function (data) {
          html_data += `<option value="${data.id}">${data.sname}</option>`
        });
        $("#states").html(html_data);
        }
      })
  
    });





// #validation for name and lastname
  $('.nameValidation').keypress(function (e) {
    var keyCode = e.keyCode || e.which;

       $(".msgerror").html("");

       //Regex for Valid Characters i.e. Alphabets.
       var regex = /^[A-Za-z]+$/;

       //Validate TextBox value against the Regex.
       var isValid = regex.test(String.fromCharCode(keyCode));
       if (!isValid) {

           $(this).siblings('span').html("Name can only contains letters");
       }

       return isValid;
  });

// email validation
// function ValudateEmaiId() {
//   // close.log(ValudateEmaiId)
//     var regex = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
//     var value = $("#emailvalid").val();
//     // var status = ValidateRegeex(regex, value);
//     if (regex && value == true) {
//         // alert("correct Email id");
//     } else {
//         $("#lblErroremail").html("Enter a Valid email id");
//     }
// }


// number validation    

$(function(){
$("input[name='mobile_no']").on('input', function (e) {
  $(this).val($(this).val().replace(/[^0-9\d\-*+#,;]/g, ''));
  $("#lblErrorno").html("Only Numaric values allowed.");
});
});


    var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
          var output = document.getElementById('output');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      };

(function () {
"use strict";
var forms = document.querySelectorAll(".needs-validation");
Array.prototype.slice.call(forms).forEach(function (form) {
  form.addEventListener(
    "submit",
    function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    },
    false
  );
});
})();


// used for datepicker
jQuery(document).ready(function () {
  $('#temp').trigger('click');
        jQuery('#datepickerjoin').datepicker({
          minDate: -15, maxDate: '15D',
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,

          onselect: function (dateString, datepickerbirth) {
            console.log(datepickerbirth,dateString);
            ValidateDOJ(dateString);
          }
      });
});


$(function () {
$( "#datepickerbirth" ).datepicker({
  minDate: new Date(1900,1-1,1), maxDate: '-18Y',
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,
          yearRange: '-110:-18',
          
          onselect: function (dateString, datepickerbirth) {
            console.log(datepickerbirth,dateString);
            ValidateDOB(dateString);
          }
          

});
});
let dojAccepted;
// datepicker birth 15 + 15 -
function ValidateDOJ(dateString) {
        dojAccepted = false;
        console.log(dateString);
        var arr=dateString.split("-");
        var day = arr[2];
        var month = arr[1];
        var year = arr[0];
        var dateRange = 15;

        var mydate = new Date();
         
        mydate.setFullYear(year, month-1, day);

        var currdatePlus = new Date();
        currdatePlus.setDate(currdatePlus.getDate() + dateRange);

        var currdateMinus = new Date();
        currdateMinus.setDate(currdateMinus.getDate() - dateRange);

        if(mydate > currdatePlus || mydate < currdateMinus )
        {
          $("#lblErrorjoin").html("Outside Range");
        }
        else{
          $("#lblErrorjoin").html("");
          dojAccepted = true;
        }
    }
let dobAccepted;
// datepicker birth 18 +
function ValidateDOB(dateString) {
        dojAccepted = false;
        var arr=dateString.split("-");
        var day = arr[2];
        var month = arr[1];
        var year = arr[0];
        var age = 18;
        var mydate = new Date();
        
        mydate.setFullYear(year, month-1, day);

        var currdate = new Date();
        currdate.setFullYear(currdate.getFullYear() - age);

        if(currdate < mydate )
          {
            $("#lblErrorbirth").html("Outside Range");
          }
        else{
          $("#lblErrorbirth").html("");
          dobAccepted = true;
        }
    }

// #datetim
const datepicker = document.querySelector('.datepicker');
const date = new Date();
const initialDateISO = date.toISOString().slice(0, date.toISOString().indexOf('T'));
const result = document.querySelector('.result');
const button = document.querySelector('.submit');

datepicker.value = initialDateISO;

const displayDate = (e) => {
e.preventDefault;
result.textContent = `Selected date: ${datepicker.value}`;
}

function logging(gender){

if(gender=="male"){
var male=document.querySelector("#male");
male.setAttribute("checked","true");


}

else{
var female=document.querySelector("#female");
female.setAttribute("checked","true");
// console.log(female);
}
}

button.addEventListener("click", displayDate);
</script>
  </html>
</DOCTYPE>